<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/Content/Header.css">
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css">
    <link rel="icon" href="~/img/favicon.ico">
    <link href="~/Content/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="../../img/logo.png" class="header-logo" alt="Responsive image">
            <a class="navbar-brand" href="#">科研项目管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><span class="header-span">身份:管理员</span></li>
                <li><span class="header-span">账号:20131003616</span></li>
                <li><span class="header-span">姓名:王小明</span></li>
                <li><a href="../admin/Users_Manage.html">管理入口</a></li>
                <li><a href="../index.html">返回登录界面</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="~/UserManager/">科研项目成果 <span class="sr-only">(current)</span></a></li>
                <li><a href="~/UserManager/Project_Schedule">科研项目进度</a></li>
                <li><a href="~/UserManager/Project_Declare">科研项目申报</a></li>
                <li class="active"><a href="~/UserManager/Personal_Project">个人项目及信息</a></li>
            </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2 class="sub-header clearfix">
               <span>您已申报的某某某项目</span>
               <span class="pull-right">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_Status">查看项目状态</button>
               </span>
             </h2>

            <div class="col-md-11 col-sm-11">
                <form class="form-horizontal" role="form">
                  <div id="form_container_first">
                   <h3 style="margin-bottom: 25px">第一项:项目基本资料</h3>
                  <div class="row">
                   <div class="col-md-1"></div>
                   <div class="col-md-11"> 
                   <div class="form-group" >
                      <label for="firstname" class="col-sm-2 col-md-2 control-label">项目名称</label>
                      <div class="col-sm-10 col-md-7">
                        <div class="input-group">
                         <input type="text" class="form-control" id="project_name"
                            value="AAA" readonly>
                         <div class="input-group-addon">
                            <span class="glyphicon glyphicon-book text-primary"></span>
                         </div>
                         </div>

                      </div>

                   </div>
                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">项目负责人</label>
                      <div class="col-sm-10 col-md-7">
                        <div class="input-group">
                         <input type="text" class="form-control"   value="AAA" readonly id="mainer_name">
                         <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user text-primary"></span>
                         </div>   
                        </div> 
                      </div>
                   </div>
                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">负责人手机</label>
                      <div class="col-sm-10 col-md-7">
                        <div class="input-group">
                         <input type="text" class="form-control" id="mainer_phone" 
                            value="AAA" readonly>
                          <div class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone text-primary"></span>
                         </div>
                        </div> 
                      </div>

                   </div>
                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">负责人邮箱</label>
                      <div class="col-sm-10 col-md-7">
                        <div class="input-group">
                         <input type="text" class="form-control" id="mainer_email" 
                            value="AAA" readonly>
                          <div class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                         </div>
                        </div>   
                      </div>
                   </div>
                   
                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">项目成员</label>
                      <div class="col-sm-10 col-md-7" id="allmember_container">
                         <div class="row">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="input-group">
                            <input type="text" class="form-control" id="Auto_Mainer_Name" 
                                value="AAA" readonly>
                             <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user text-primary"></span>
                            </div>   
                            </div>
                          </div> 
                        </div>
                      </div>
                   </div>    

                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">项目申报人</label>
                      <div class="col-sm-10 col-md-2">
                        <div class="input-group">
                         <input type="text" class="form-control" id="mainer_declarer_card" value="王小明"readonly>
                          <div class="input-group-addon">
                            <span class="glyphicon glyphicon-user text-primary"></span>
                         </div>
                        </div>    
                      </div>
                   </div>

                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">课题类型</label>
                      <div class="col-sm-4 col-md-3">
                        <div class="input-group">
                         <input type="text" class="form-control" id="project_sort" 
                            value="AAA" readonly>
                         <div class="input-group-addon">
                            <span class="glyphicon glyphicon-flag text-primary"></span>
                         </div>   
                        </div>    
                      </div>
                   </div>

                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">所处级别</label>
                      <div class="col-sm-4 col-md-3">
                        <div class="input-group">
                         <select class="form-control input-sm" id="Now_Level" disabled>
                           <option selected="selected" value="0">校级</option>
                           <option value="1">市级</option>
                           <option value="2">省级</option>
                         </select>
                         <div class="input-group-addon">
                            <span class="glyphicon glyphicon-sort text-primary"></span>
                         </div> 
                        </div> 
                      </div>
                   </div>

                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">目标级别</label>
                      <div class="col-sm-4 col-md-3">
                        <div class="input-group">
                         <select class="form-control input-sm" id="Target_Level" disabled>
                           <option  selected="selected" value="1">市级</option>
                           <option value="2">省级</option>
                           <option value="3">国家级</option>
                         </select>
                         <div class="input-group-addon">
                            <span class="glyphicon glyphicon-sort text-primary"></span>
                         </div> 
                        </div> 
                      </div>
                   </div>

                   <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">项目起始时间</label>
                      <div class="col-sm-4 col-md-3">
                         <div class="input-group date">
                          <input class="form-control" size="16" type="text" value="" id="project_start_time" value="2015-1-1" readonly>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                        </div>
                      </div>
                   </div>


                    <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">项目结束时间</label>
                      <div class="col-sm-4 col-md-3">
                         <div class="input-group">
                          <input class="form-control" size="16" type="text" value="" id="project_end_time" value="2015-1-1" readonly>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                        </div>
                      </div>
                   </div>

                    <div class="form-group">
                      <label for="lastname" class="col-sm-2 control-label">项目经费预算</label>
                      <div class="col-sm-6 col-md-4">
                        <div class="input-group">
                         <input type="text" class="form-control" id="project_money" 
                            value="10000" readonly>
                         <div class="input-group-addon">
                            <span class="text-primary">RMB</span>
                         </div>   
                        </div>    
                      </div>
                   </div>                   



                   </div>
                  </div> 
                </div>


                  <div id="form_container_second">
                    <div>
                    <h3>第二项:文件材料</h3> 
                    </div>
                    <div class="form-group">
                      <div class="row">
                          <div class="col-md-2 col-sm-2 col-xs-2"></div>
                         <div class="col-md-3 col-sm-3 col-xs-3">
                          <h4>开题报告文档</h4>
                            <button type="button" class="btn btn-primary">文件下载</button>
                         </div>
                         <div class="col-md-3 col-sm-3 col-xs-3">
                          <h4>论文材料文档</h4>
                            <button type="button" class="btn btn-primary">文件下载</button>
                         </div>
                         <div class="col-md-3 col-sm-3 col-xs-3">
                          <h4>项目完整材料</h4>
                            <button type="button" class="btn btn-primary">文件下载</button>
                         </div>   
                      </div>
                    </div>
                  </div>


                  <div id="form_container_third">
                    <h3 style="margin-bottom: 25px">第三项:项目进度时间规划表(依次为起始时间、结束时间和阶段任务)</h3>
                    <div class="form-group" id="all_tasks_container">
                      <div class="row" >
                          <label for="lastname" class="col-sm-2 col-md-2 col-xs-12 control-label">阶段任务</label>
                          <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="input-group">
                              <input class="form-control task_is_empty task_is_stime" size="16" type="text" value="2015-1-1" readonly>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="input-group">
                              <input class="form-control task_is_empty task_is_stime" size="16" type="text" value="2015-1-1" readonly>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                            </div>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="input-group">
                                <input type="text" class="form-control task_is_empty" id="lastname" 
                                    value="aadsad" readonly>
                                <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-tasks text-primary"></span>
                               </div>     
                            </div>        
                          </div>
                      </div>





                      <div class="row task_is_time" >
                          <label for="lastname" class="col-sm-2 col-md-2 col-xs-12 control-label">阶段任务</label>
                          <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="input-group">
                              <input class="form-control task_is_empty task_is_stime" size="16" type="text" value="2015-1-1" readonly>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="input-group">
                              <input class="form-control task_is_empty task_is_stime" size="16" type="text" value="2015-1-1" readonly>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                            </div>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="input-group">
                                <input type="text" class="form-control task_is_empty" id="lastname" 
                                    value="aadsad" readonly>
                                <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-tasks text-primary"></span>
                               </div>     
                            </div>        
                          </div>
                      </div>     



                      <div class="row task_is_time" >
                          <label for="lastname" class="col-sm-2 col-md-2 col-xs-12 control-label">阶段任务</label>
                          <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="input-group">
                              <input class="form-control task_is_empty task_is_stime" size="16" type="text" value="2015-1-1" readonly>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                            </div>
                          </div>
                          <div class="col-md-2 col-sm-2 col-xs-3">
                            <div class="input-group">
                              <input class="form-control task_is_empty task_is_stime" size="16" type="text" value="2015-1-1" readonly>
                              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar text-primary"></span></span>
                            </div>
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-5">
                            <div class="input-group">
                                <input type="text" class="form-control task_is_empty" id="lastname" 
                                    value="aadsad" readonly>
                                <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-tasks text-primary"></span>
                               </div>     
                            </div>        
                          </div>
                      </div>


                  </div> 
                </form>   
            </div>            

 
          

            
        </div>
    </div>
</div>

<div class="modal fade" id="myModal_Status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">项目状态</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-info" role="alert">状态描述:项目申报成功，等待进度完成后审核</div>
        <div class="alert alert-warning" role="alert">管理员留言:阿迪萨斯的撒旦</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="~/Scripts/ie-emulation-modes-warning.js"></script>
<script src="~/Scripts/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="~/Scripts/ie10-viewport-bug-workaround.js"></script>

</body>


</html>