@using ProjectManager.Model;


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
     <script src="~/Content/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
     <link rel="icon" href="~/Content/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css">
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.5-dist/css/bootstrap.min.css">
</head>
<body>

<!-- <div class="back-fix">
    <img src="../img/Login_Back.jpg">
</div> -->
<div class="container-fluid back-img">

    <div class="container">
        <div class="col-md-7 col-sm-7 col-xs-12 logo">
			<span><img src="../img/logo.png">
			</span>
            <span class="logo-word">广东外语外贸大学项目管理系统</span>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 login">
            <div class="white-hide"></div>
            <form class="form-signin login_form" action="~/login/LoginCheck" method="post">
                <h2 class="form-signin-heading">请登录</h2>
                <label class="sr-only">用户名</label>

                <p><span class="glyphicon glyphicon-user each-logo" aria-hidden="true"></span><input type="text"
                                                                                                     id="inputEmail"
                                                                                                     class="form-control"
                                                                                                     placeholder="用户名"
                                                                                                     required autofocus name="user">
                </p>
                <label class="sr-only">密码</label>

                <p><span class="glyphicon glyphicon-lock each-logo"></span><span><input type="password"
                                                                                        id="inputPassword"
                                                                                        class="form-control"
                                                                                        placeholder="密码"
                                                                                        required name="pass"></span></p>
                <select class="form-control" >
                    <option value="" name="" selected="selected">教职工</option>
                    <option value="" name="">管理员</option>
                </select>
                <select class="form-control" name="p_belongs">
                    <option value="a" name="" selected="selected">科研项目管理系统</option>
                    <option value="b" name="">质量工程项目管理系统</option>
                </select>
                <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>